* {
    margin:0px;
}

main {
    color: #5e6264;
}

body {
   
    font-family: "Patrick Hand", cursive;
    font-weight: 400;
    font-style: normal;
}

.fond_marin {
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), 
              url("./Images/fond_marin.jpg");
}

.photo_cv {
    margin-top: 5%;
    border-radius: 15%;
    width: 30%;
    opacity: 1;
}

li {
    list-style: "🐳";
    padding-left: 3px;
}

h2 {
    color: #0578b1;
}

h3 {
    color: #3b9652;
}

h4 {
    color: #488deb;
    font-style: italic;
    text-align: center;
}

.mes_colonnes_fond_marin {
    display: flex;
    flex-direction: row; /*Les colonnes sont alignées côte à côte (horizontalement).*/
    font-size: 18px;
    justify-content: space-around;
}

.colonne {
    padding: 10px;
    font-size: 17px;
}
.centre {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #5e6264;
        font-size: 18px;
    }

#identite {
    font-weight: bold;
    font-size: 19px;
}    
.titre_document {
    font-size: 17px;
    padding-bottom: 10px;
}
.gauche {
    color:#0578b1;
}

.droite {
    color: #0578b1;
}

.adresse {
    font-weight: bold;
    color: #0578b1;
    font-size: 16px;
}

/* css pour le séparateur poisson */
.separator {
    height: 50px;
    overflow: hidden;
    position: relative;
  }
  
.fish {
    position: absolute;
    right: -50px; /* Place le poisson hors de l'écran à gauche */
    font-size: 2em; /* Taille du poisson */
    animation: swim 20s linear infinite; /* Animation de nage */
  }
  
@keyframes swim {
    0% {
      right: -50px; /* Début de l'animation (hors de l'écran à gauche) */
    }
    100% {
      right: 100%; /* Fin de l'animation (hors de l'écran à droite) */
    }
  }
  
.presentation {
    text-align: justify;  
    padding-bottom: 10px; 
    padding-top: 3px;
    font-size: 16px;
}

.principales_experiences {
    padding-bottom: 8px; 
    padding-top: 3px;
    font-size: 16px;
}
.formations {
    padding-bottom: 5px; 
    padding-top: 3px;
    font-size: 16px;
}
.langues {
    padding-bottom: 10px; 
    padding-top: 3px;
    font-size: 16px;
}
.centres_interets {
    padding-bottom: 10px; 
    padding-top: 3px;
    font-size: 16px;
}

.competences {
    text-align: center;
    font-size: 16px;
    padding-bottom: 10px; 
    padding-top: 5px;
}

.bas_de_page {
    background-color: #99d8f1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.logo {
    padding: 2%;
}

.pdf {
    width: 30%;
}

.linkedin {
    width: 30%;
}

.responsive_image {
    height: auto; 
    max-width: 30px;
}

/* pour tablette*/
@media screen (min-width: 768px) {
    
    body {
        background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), 
        url("./Images/fond_marin.jpg");
        max-width: 600px;
    }

}

/* pour ordinateur*/
@media screen (min-width: 1024px) {
    
    body {


    }
}