html {
    font-family: "Patrick Hand", cursive;
    font-weight: 400;
    font-style: normal;
}

main {
    color: #5e6264;
}

body {
   margin: 0px;
}

.fond_marin {
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), 
              url("./Images/fond_marin.jpg");
    width: 100vw; /*pour s'adapter à toute la largeur de la page*/
}

.photo_cv {
    margin-top: 5%;
    border-radius: 15%;
    width: 20%;
    opacity: 1;
}

h2 {
    color: #0578b1;
}

h3 {
    color: #3b9652;
}

h4 {
    color: #488deb;
    font-style: italic;
    text-align: center;
}

.mes_colonnes_fond_marin {
    display: flex;
    flex-direction: row; /*Les colonnes sont alignées côte à côte (horizontalement).*/
}

.colonne {
    width: 100%;
    padding: 10px;
}
.centre {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #5e6264;
    }

#identite {
    font-weight: bold;
}    
.gauche {
    color:#0578b1;
}

.droite {
    color: #0578b1;
}

.adresse {
    font-weight: bold;
    color: #0578b1;
}

/* css pour le séparateur poisson */
.separator {
    width: 100vw;
    height: 50px;
    overflow: hidden;
    position: relative;
  }
  
.fish {
    position: absolute;
    right: -50px; /* Place le poisson hors de l'écran à gauche */
    font-size: 2em; /* Taille du poisson */
    animation: swim 20s linear infinite; /* Animation de nage */
  }
  
@keyframes swim {
    0% {
      right: -50px; /* Début de l'animation (hors de l'écran à gauche) */
    }
    100% {
      right: 100%; /* Fin de l'animation (hors de l'écran à droite) */
    }
  }
  
.presentation {
    text-align: justify;    
}

.formations {
    width: 100vw;
}

.competences {
    text-align: center;
}

.bas_de_page {
    background-color: #99d8f1;
    display: flex;
    flex-direction: row;
}

.logo {
    padding: 2%;
}

.pdf {
    width: 50%;
}

.linkedin {
    width: 50%;
}

.responsive_image {
    width: 100%; 
    height: auto; 
    max-width: 30px;
}

@media screen (min-width: 768px) {
    
    body {
        background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), 
        url("./Images/fond_marin.jpg");
        max-width: 600px;
    }

}

@media  (min-width: 1024px) {
    
    body {


    }
}
/* Média query/*




/